@tecnosys:registry=https://pkgs.dev.azure.com/tecnosysitaliasrl/_packaging/npm-tecnosys/npm/registry/ 
; Uses personal access token from environment variable NPM_TOKEN
//pkgs.dev.azure.com/tecnosysitaliasrl/_packaging/npm-tecnosys/npm/registry/:_authToken=${NPM_TOKEN}
always-auth=true