@tecnosys:registry=https://pkgs.dev.azure.com/tecnosysitaliasrl/_packaging/npm-tecnosys/npm/registry/ 
; Add this line to use a personal access token from environment variable
; //pkgs.dev.azure.com/tecnosysitaliasrl/_packaging/npm-tecnosys/npm/registry/:_authToken=${NPM_TOKEN}
always-auth=true