apiVersion: v1
kind: Secret
metadata:
  name: {{ include "stillum-platform.fullname" . }}-db-secret
  labels:
    {{- include "stillum-platform.labels" . | nindent 4 }}
type: Opaque
data:
  db-host: {{ .Values.database.host | b64enc }}
  db-port: {{ .Values.database.port | toString | b64enc }}
  db-user: {{ .Values.database.user | b64enc }}
  db-password: {{ .Values.database.password | b64enc }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "stillum-platform.fullname" . }}-storage-secret
  labels:
    {{- include "stillum-platform.labels" . | nindent 4 }}
type: Opaque
data:
  s3-access-key: {{ .Values.storage.credentials.accessKey | b64enc }}
  s3-secret-key: {{ .Values.storage.credentials.secretKey | b64enc }}
